<ng-container class="card" *ngIf="student">
    <div class="card-body">
        <form [formGroup]="studentForm">
            <div class="form-group">
                <label for="tz">student tz:</label>
                <input class="form-control" type="number" id="tz" formControlName="tz" name="tz" />
                <ng-container *ngIf="studentForm.controls['tz'].touched && studentForm.controls['tz'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['tz'].errors['required']">
                        This field is required</div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['tz'].errors['minlength']">
                        This field must contains at least 3 digits</div>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="name">student name:</label>
                <input class="form-control" type="text" id="name" formControlName="name" name="name" />
                <ng-container *ngIf="studentForm.controls['name'].touched && studentForm.controls['name'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['name'].errors['required']">
                        This field is required</div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['name'].errors['minlength']">
                        This field must contains at least 2 chars</div>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="address">student address:</label>
                <input class="form-control" type="text" id="address" formControlName="address" name="address" />
                <ng-container *ngIf="studentForm.controls['address'].touched && studentForm.controls['address'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['address'].errors['required']">
                        This field is required</div>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="phone">student phone:</label>
                <input class="form-control" type="tel" id="phone" formControlName="phone" name="phone" />
                <ng-container *ngIf="studentForm.controls['phone'].touched && studentForm.controls['phone'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['phone'].errors['required']">
                        This field is required</div>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="average">student average:</label>
                <input class="form-control" type="number" id="average" formControlName="average" name="average" />
                <ng-container *ngIf="studentForm.controls['average'].touched && studentForm.controls['average'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['average'].errors['required']">
                        This field is required</div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['average'].errors['min']">
                        average must be a positive number</div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['average'].errors['max']">
                        average must be below or equal to 100</div>
                </ng-container>
            </div>
            <div class="form-group">
                <label #isActive1 for="isActive">Active? </label>
                <br>
                <input type="radio" value="true" name="isActive" formControlName="isActive" />True
                <input type="radio" value="false" name="isActive" formControlName="isActive" />False
            </div>
            <div class="form-group" *ngIf="isActive1 && !student.isActive">
                <label for="dateLeft">student status:</label>
                <input class="form-control" type="date" id="dateLeft" formControlName="dateLeft" name="dateLeft" />
            </div>
            <div class="form-group">
                <label for="proffetional">student proffetional:</label>
                <select id="proffetional" formControlName="proffetional">
                    <option *ngFor="let proffetional of proffetionals" [value]="proffetional.id">
                        {{proffetional.description}}
                    </option>
                </select>
                <ng-container *ngIf="studentForm.controls['proffetional'].touched && studentForm.controls['proffetional'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['proffetional'].errors['required']">
                        This field is required</div>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="year">student year:</label>
                <br />
                <input type="radio" name="year" formControlName="year" value="studyYear.First" />First
                <br />
                <input type="radio" name="year" formControlName="year" value="studyYear.Second" />Second
                <br />
                <input type="radio" name="year" formControlName="year" value="studyYear.Third" />Third
                <br />
                <ng-coteiner *ngIf="studentForm.value['year']" [ngSwitch]="studentForm.value['year']">
                    You have to learn
                    <i *ngSwitchCase="'studyYear.First'"> 100 </i>
                    <i *ngSwitchCase="'studyYear.Second'"> 150 </i>
                    <i *ngSwitchCase="'studyYear.Third'"> 125 </i>
                    days
                </ng-coteiner>
                <ng-container *ngIf="studentForm.controls['year'].touched && studentForm.controls['year'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['year'].errors['required']">
                        This field is required</div>
                </ng-container>
            </div>
            <div>
                <h6>total absence days:
                    <b>{{countAbsenceDays(student.id == undefined ? 0 : student.id)}}</b>
                </h6>
                <div>
                    <label for="absenceDate">absence date:</label>
                    <input [(ngModel)]="absenceDate" [ngModelOptions]="{standalone: true}" class="form-control"
                        type="date" id="absenceDate" />
                </div>
                <div>
                    <label for="totalAbsenceDays">absence days:</label>
                    <input [(ngModel)]="totalAbsenceDays" [ngModelOptions]="{standalone: true}" class="form-control"
                        type="number" id="totalAbsenceDays" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit" (click)="saveNewStudent()"
                [disabled]="!studentForm.valid">Save</button>
        </form>
    </div>
</ng-container>