/* You can add global styles to this file, and also import other style files */
.studentActive {
    background-color: #98c1f6;
}
.diligent{
    border-right: 7px solid #3a8af2;
    border-left: 7px solid #3a8af2;
}